.version.animations {
    color: #0000EF;
    background-color: #47C3B7;
}

#muse_css_mq {
    background-color: #FFFFFF;
}

#page {
    z-index: 1;
    min-height: 838px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-bottom: 62px;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#u8368 {
    z-index: 2;
    background-color: transparent;
    opacity: 0.15;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    filter: alpha(opacity=15);
    position: relative;
    margin-right: -10000px;
    margin-top: 203px;
    width: 49.1%;
    left: 41.81%;
}

#u8368_img {
    padding-left: 44px;
    padding-right: 44px;
    width: 87.56%;
}

#u970 {
    z-index: 5;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 96px;
    width: 7.02%;
    left: 61.67%;
}

#u970_states {
    float: left;
    width: 100%;
    background: transparent url("../images/u970_states.png?crc=304022051") no-repeat center;
    background-size: 88.11881188118812%;
}

#u970_states .fluid_height_spacer {
    padding-bottom: 47.524752475247524%;
}

.hidpi #u970_states {
    background-image: url("../images/u970_states_2x.png?crc=4106179338");
    background-size: 89px 36px;
}

#u970:hover #u970_states {
    background: transparent url("../images/u970_states-r.png?crc=4196547297") no-repeat center;
    background-size: 100%;
}

#u970:active #u970_states {
    background: transparent url("../images/u970_states-m.png?crc=304022051") no-repeat center;
    background-size: 88.11881188118812%;
}

.hidpi #u970:hover #u970_states {
    background-image: url("../images/u970_states-r_2x.png?crc=4215687154");
    background-size: 101px 48px;
}

.hidpi #u970:active #u970_states {
    background-image: url("../images/u970_states-m_2x.png?crc=4106179338");
    background-size: 89px 36px;
}

#u971 {
    z-index: 9;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 96px;
    width: 7.71%;
    left: 70.63%;
}

#u971_states {
    float: left;
    width: 100%;
    background: transparent url("../images/u971_states.png?crc=4156345831") no-repeat center;
    background-size: 89.1891891891892%;
}

#u971_states .fluid_height_spacer {
    padding-bottom: 43.24324324324324%;
}

.hidpi #u971_states {
    background-image: url("../images/u971_states_2x.png?crc=3969582136");
    background-size: 99px 36px;
}

#u971:hover #u971_states {
    background: transparent url("../images/u971_states-r.png?crc=454703719") no-repeat center;
    background-size: 100%;
}

#u971:active #u971_states {
    background: transparent url("../images/u971_states-m.png?crc=4156345831") no-repeat center;
    background-size: 89.1891891891892%;
}

.hidpi #u971:hover #u971_states {
    background-image: url("../images/u971_states-r_2x.png?crc=4047263301");
    background-size: 111px 48px;
}

.hidpi #u971:active #u971_states {
    background-image: url("../images/u971_states-m_2x.png?crc=3969582136");
    background-size: 99px 36px;
}

#u972 {
    z-index: 13;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 96px;
    width: 8.2%;
    left: 79.38%;
}

#u972_states {
    float: left;
    width: 100%;
    background: transparent url("../images/u972_states.png?crc=160367109") no-repeat center;
    background-size: 89.83050847457628%;
}

#u972_states .fluid_height_spacer {
    padding-bottom: 40.67796610169492%;
}

.hidpi #u972_states {
    background-image: url("../images/u972_states_2x.png?crc=305356974");
    background-size: 106px 36px;
}

#u972:hover #u972_states {
    background: transparent url("../images/u972_states-r.png?crc=136941739") no-repeat center;
    background-size: 100%;
}

#u972:active #u972_states {
    background: transparent url("../images/u972_states-m.png?crc=160367109") no-repeat center;
    background-size: 89.83050847457628%;
}

.hidpi #u972:hover #u972_states {
    background-image: url("../images/u972_states-r_2x.png?crc=3959486981");
    background-size: 118px 48px;
}

.hidpi #u972:active #u972_states {
    background-image: url("../images/u972_states-m_2x.png?crc=305356974");
    background-size: 106px 36px;
}

#u976-4 {
    z-index: 16;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 255px;
    width: 12.09%;
    left: 32.3%;
}

#u3857 {
    z-index: 20;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    max-width: 100000px;
    min-width: 40px;
    position: relative;
    margin-right: -10000px;
    margin-top: 311px;
    width: 24.1%;
    left: 21.53%;
}

#u3864 {
    z-index: 21;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    max-width: 100000px;
    min-width: 40px;
    position: relative;
    margin-right: -10000px;
    margin-top: 310px;
    width: 24.1%;
    left: 46.12%;
}

#u3869 {
    z-index: 22;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    max-width: 100000px;
    min-width: 40px;
    position: relative;
    margin-right: -10000px;
    margin-top: 308px;
    width: 24.1%;
    left: 70.7%;
}

#u3874 {
    z-index: 23;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    max-width: 100000px;
    min-width: 40px;
    position: relative;
    margin-right: -10000px;
    margin-top: 576px;
    width: 24.1%;
    left: 21.53%;
}

#u3879 {
    z-index: 24;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    max-width: 100000px;
    min-width: 40px;
    position: relative;
    margin-right: -10000px;
    margin-top: 575px;
    width: 24.1%;
    left: 46.39%;
}

#u3884 {
    z-index: 25;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    max-width: 100000px;
    min-width: 40px;
    position: relative;
    margin-right: -10000px;
    margin-top: 575px;
    width: 24.1%;
    left: 71.25%;
}

#u3857 .fluid_height_spacer,
#u3864 .fluid_height_spacer,
#u3869 .fluid_height_spacer,
#u3874 .fluid_height_spacer,
#u3879 .fluid_height_spacer,
#u3884 .fluid_height_spacer {
    padding-bottom: 75.50432276657061%;
}

#u3937-4 {
    z-index: 26;
    min-height: 28px;
    background-color: transparent;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    position: relative;
    margin-right: -10000px;
    margin-top: 818px;
    width: 1.6%;
    left: 93.2%;
}

#u3937-4:hover {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5), 0px 0px 8px rgba(255, 255, 255, 0.5);
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 28px;
    width: 1.6%;
    margin: 818px -10000px 0px 0%;
}

#u3937-4:active {
    text-shadow: none;
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 28px;
    width: 1.6%;
    margin: 818px -10000px 0px 0%;
}

#u5202 {
    z-index: 30;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 102px;
    width: 24.94%;
    left: 6.95%;
}

#u5202_img {
    padding-top: 15px;
    padding-bottom: 14px;
    width: 100%;
}

#u7124-4 {
    z-index: 32;
    position: relative;
    margin-right: -10000px;
    margin-top: 352px;
    width: 6.25%;
    left: 6.88%;
}

#u7125-4 {
    z-index: 36;
    position: relative;
    margin-right: -10000px;
    margin-top: 400px;
    width: 6.25%;
    left: 6.88%;
}

#u7126-4 {
    z-index: 40;
    position: relative;
    margin-right: -10000px;
    margin-top: 449px;
    width: 6.6%;
    left: 6.88%;
}

#u7127-4 {
    z-index: 44;
    position: relative;
    margin-right: -10000px;
    margin-top: 497px;
    width: 3.48%;
    left: 6.88%;
}

#u7128-4 {
    z-index: 48;
    position: relative;
    margin-right: -10000px;
    margin-top: 545px;
    width: 6.25%;
    left: 6.88%;
}

#u7124-4_img,
#u7125-4_img,
#u7126-4_img,
#u7127-4_img,
#u7128-4_img {
    display: block;
    vertical-align: top;
    width: 100%;
}

#u8069 {
    z-index: 52;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 299px;
    width: 1.53%;
    left: 13.27%;
}

#u8069_img {
    padding-left: 9px;
    padding-right: 9px;
    width: 18.19%;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 909px);
}

.html {
    background-color: #000000;
}

body {
    position: relative;
    min-width: 720px;
}
