.version.index {
    color: #0000E1;
    background-color: #20F8F7;
}

#muse_css_mq {
    background-color: #FFFFFF;
}

#page {
    z-index: 1;
    min-height: 235.6293159609121px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: #000000;
    padding-top: 356px;
    padding-bottom: 337.3706840390879px;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#u423 {
    z-index: 15;
    vertical-align: top;
    position: relative;
    width: 39.17%;
    margin-left: 30.14%;
    background: transparent url("../images/u423.png?crc=4220549794") no-repeat center;
    background-size: 97.16312056737588%;
}

#u423 .fluid_height_spacer {
    padding-bottom: 29.432624113475175%;
}

.hidpi #u423 {
    background-image: url("../images/u423_2x.png?crc=14982924");
    background-size: 548px 150px;
}

#u423:hover {
    background: transparent url("../images/u423-r.png?crc=4191728422") no-repeat center;
    background-size: 100%;
}

.hidpi #u423:hover {
    background-image: url("../images/u423-r_2x.png?crc=3864880185");
    background-size: 564px 166px;
}

#ppu172 {
    z-index: 2;
    margin-top: 34px;
    width: 34.59%;
    margin-left: 32.16%;
}

#u172 {
    z-index: 3;
    vertical-align: top;
    margin-bottom: -8px;
    position: relative;
    margin-right: -10000px;
    margin-top: -8px;
    width: 24.5%;
    left: -1.61%;
}

#u172_states {
    float: left;
    width: 100%;
    background: transparent url("../images/u172_states.png?crc=4053981861") no-repeat center;
    background-size: 86.88524590163934%;
}

.hidpi #u172_states {
    background-image: url("../images/u172_states_2x.png?crc=4166202308");
    background-size: 106px 36px;
}

#u172:hover #u172_states {
    background: transparent url("../images/u172_states-r.png?crc=385090178") no-repeat center;
    background-size: 100%;
}

.hidpi #u172:hover #u172_states {
    background-image: url("../images/u172_states-r_2x.png?crc=4248371487");
    background-size: 122px 52px;
}

#u177 {
    z-index: 6;
    vertical-align: top;
    margin-bottom: -8px;
    position: relative;
    margin-right: -10000px;
    margin-top: -8px;
    width: 24.5%;
    left: 25.31%;
}

#u177_states {
    float: left;
    width: 100%;
    background: transparent url("../images/u177_states.png?crc=3984635879") no-repeat center;
    background-size: 86.88524590163934%;
}

.hidpi #u177_states {
    background-image: url("../images/u177_states_2x.png?crc=4244524621");
    background-size: 106px 36px;
}

#u177:hover #u177_states {
    background: transparent url("../images/u177_states-r.png?crc=451576108") no-repeat center;
    background-size: 100%;
}

.hidpi #u177:hover #u177_states {
    background-image: url("../images/u177_states-r_2x.png?crc=3775232672");
    background-size: 122px 52px;
}

#u199 {
    z-index: 12;
    vertical-align: top;
    margin-bottom: -8px;
    position: relative;
    margin-right: -10000px;
    margin-top: -8px;
    width: 24.5%;
    left: 51.21%;
}

#u199_states {
    float: left;
    width: 100%;
    background: transparent url("../images/u199_states.png?crc=376543648") no-repeat center;
    background-size: 86.88524590163934%;
}

.hidpi #u199_states {
    background-image: url("../images/u199_states_2x.png?crc=378249311");
    background-size: 106px 36px;
}

#u199:hover #u199_states {
    background: transparent url("../images/u199_states-r.png?crc=378275949") no-repeat center;
    background-size: 100%;
}

.hidpi #u199:hover #u199_states {
    background-image: url("../images/u199_states-r_2x.png?crc=515637003");
    background-size: 122px 52px;
}

#u180 {
    z-index: 9;
    vertical-align: top;
    margin-bottom: -8px;
    position: relative;
    margin-right: -10000px;
    margin-top: -8px;
    width: 24.5%;
    left: 77.11%;
}

#u180_states {
    float: left;
    width: 100%;
    background: transparent url("../images/u180_states.png?crc=160367109") no-repeat center;
    background-size: 86.88524590163934%;
}

#u172_states .fluid_height_spacer,
#u177_states .fluid_height_spacer,
#u199_states .fluid_height_spacer,
#u180_states .fluid_height_spacer {
    padding-bottom: 42.62295081967213%;
}

.hidpi #u180_states {
    background-image: url("../images/u180_states_2x.png?crc=305356974");
    background-size: 106px 36px;
}

#u180:hover #u180_states {
    background: transparent url("../images/u180_states-r.png?crc=371704633") no-repeat center;
    background-size: 100%;
}

.hidpi #u180:hover #u180_states {
    background-image: url("../images/u180_states-r_2x.png?crc=34557047");
    background-size: 122px 52px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 929px);
}

.html {
    background-color: #000000;
}

body {
    position: relative;
    min-width: 720px;
}
