.version.work {
    color: #0000FF;
    background-color: #244FFF;
}

#muse_css_mq {
    background-color: #FFFFFF;
}

#page {
    z-index: 1;
    min-height: 838px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-bottom: 62px;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#u1594 {
    z-index: 3;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 96px;
    width: 7.02%;
    left: 62.3%;
}

#u1594_states {
    float: left;
    width: 100%;
    background: transparent url("../images/u1594_states.png?crc=304022051") no-repeat center;
    background-size: 88.11881188118812%;
}

#u1594_states .fluid_height_spacer {
    padding-bottom: 47.524752475247524%;
}

.hidpi #u1594_states {
    background-image: url("../images/u1594_states_2x.png?crc=4106179338");
    background-size: 89px 36px;
}

#u1594:hover #u1594_states {
    background: transparent url("../images/u1594_states-r.png?crc=4196547297") no-repeat center;
    background-size: 100%;
}

#u1594:active #u1594_states {
    background: transparent url("../images/u1594_states-m.png?crc=304022051") no-repeat center;
    background-size: 88.11881188118812%;
}

.hidpi #u1594:hover #u1594_states {
    background-image: url("../images/u1594_states-r_2x.png?crc=4215687154");
    background-size: 101px 48px;
}

.hidpi #u1594:active #u1594_states {
    background-image: url("../images/u1594_states-m_2x.png?crc=4106179338");
    background-size: 89px 36px;
}

#u1595 {
    z-index: 7;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 96px;
    width: 7.71%;
    left: 71.25%;
}

#u1595_states {
    float: left;
    width: 100%;
    background: transparent url("../images/u1595_states.png?crc=4156345831") no-repeat center;
    background-size: 89.1891891891892%;
}

#u1595_states .fluid_height_spacer {
    padding-bottom: 43.24324324324324%;
}

.hidpi #u1595_states {
    background-image: url("../images/u1595_states_2x.png?crc=3969582136");
    background-size: 99px 36px;
}

#u1595:hover #u1595_states {
    background: transparent url("../images/u1595_states-r.png?crc=454703719") no-repeat center;
    background-size: 100%;
}

#u1595:active #u1595_states {
    background: transparent url("../images/u1595_states-m.png?crc=4156345831") no-repeat center;
    background-size: 89.1891891891892%;
}

.hidpi #u1595:hover #u1595_states {
    background-image: url("../images/u1595_states-r_2x.png?crc=4047263301");
    background-size: 111px 48px;
}

.hidpi #u1595:active #u1595_states {
    background-image: url("../images/u1595_states-m_2x.png?crc=3969582136");
    background-size: 99px 36px;
}

#u1596 {
    z-index: 11;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 96px;
    width: 8.2%;
    left: 80%;
}

#u1596_states {
    float: left;
    width: 100%;
    background: transparent url("../images/u1596_states.png?crc=160367109") no-repeat center;
    background-size: 89.83050847457628%;
}

#u1596_states .fluid_height_spacer {
    padding-bottom: 40.67796610169492%;
}

.hidpi #u1596_states {
    background-image: url("../images/u1596_states_2x.png?crc=305356974");
    background-size: 106px 36px;
}

#u1596:hover #u1596_states {
    background: transparent url("../images/u1596_states-r.png?crc=136941739") no-repeat center;
    background-size: 100%;
}

#u1596:active #u1596_states {
    background: transparent url("../images/u1596_states-m.png?crc=160367109") no-repeat center;
    background-size: 89.83050847457628%;
}

.hidpi #u1596:hover #u1596_states {
    background-image: url("../images/u1596_states-r_2x.png?crc=3959486981");
    background-size: 118px 48px;
}

.hidpi #u1596:active #u1596_states {
    background-image: url("../images/u1596_states-m_2x.png?crc=305356974");
    background-size: 106px 36px;
}

#u1597-4 {
    z-index: 14;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 344px;
    width: 6.67%;
    left: 18.96%;
}

#u1602-4 {
    z-index: 18;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 399px;
    width: 28.48%;
    left: 21.81%;
}

#u1603 {
    z-index: 22;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 371px;
    width: 2.92%;
    left: 18.13%;
}

#u1605 {
    z-index: 24;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 337px;
    width: 3.27%;
    left: 23.69%;
}

#u1607 {
    z-index: 26;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 385px;
    width: 5.07%;
    left: 46.19%;
}

#u1609 {
    z-index: 28;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 521px;
    width: 4.94%;
    left: 20.63%;
}

#u1686 {
    z-index: 30;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 306px;
    width: 17.23%;
    left: 54.66%;
}

#u1686:hover {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5), 0px 0px 8px rgba(255, 255, 255, 0.5);
    min-height: 0px;
    width: 17.23%;
    margin: 306px -10000px 0px 0%;
}

#u1686_img {
    width: 100.41%;
}

#u1689 {
    z-index: 32;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 320px;
    width: 13.48%;
    left: 71.88%;
}

#u1689:hover {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5), 0px 0px 8px rgba(255, 255, 255, 0.5);
    min-height: 0px;
    width: 13.48%;
    margin: 320px -10000px 0px 0%;
}

#u1692 {
    z-index: 34;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 496px;
    width: 21.19%;
    left: 50.7%;
}

#u1692:hover {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5), 0px 0px 8px rgba(255, 255, 255, 0.5);
    min-height: 0px;
    width: 21.19%;
    margin: 496px -10000px 0px 0%;
}

#u1695 {
    z-index: 36;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 468px;
    width: 19.73%;
    left: 71.88%;
}

#u1695:hover {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5), 0px 0px 8px rgba(255, 255, 255, 0.5);
    min-height: 0px;
    width: 19.73%;
    margin: 468px -10000px 0px 0%;
}

#u1603_img,
#u1605_img,
#u1607_img,
#u1609_img,
#u1689_img,
#u1692_img,
#u1695_img {
    width: 100%;
}

#u5230 {
    z-index: 38;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 100px;
    width: 24.94%;
    left: 7.64%;
}

#u5230_img {
    padding-top: 15px;
    padding-bottom: 14px;
    width: 100%;
}

#u6947-4 {
    z-index: 40;
    position: relative;
    margin-right: -10000px;
    margin-top: 345px;
    width: 6.88%;
    left: 7.09%;
}

#u6948-4 {
    z-index: 44;
    position: relative;
    margin-right: -10000px;
    margin-top: 393px;
    width: 6.53%;
    left: 7.09%;
}

#u6949-4 {
    z-index: 48;
    position: relative;
    margin-right: -10000px;
    margin-top: 442px;
    width: 6.88%;
    left: 7.09%;
}

#u6950-4 {
    z-index: 52;
    position: relative;
    margin-right: -10000px;
    margin-top: 490px;
    width: 6.88%;
    left: 7.09%;
}

#u6951-4 {
    z-index: 56;
    position: relative;
    margin-right: -10000px;
    margin-top: 538px;
    width: 6.88%;
    left: 7.09%;
}

#u6947-4_img,
#u6948-4_img,
#u6949-4_img,
#u6950-4_img,
#u6951-4_img {
    display: block;
    vertical-align: top;
    width: 100%;
}

#u9431 {
    z-index: 60;
    background-color: transparent;
    opacity: 0.15;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    filter: alpha(opacity=15);
    position: relative;
    margin-right: -10000px;
    margin-top: 201px;
    width: 49.1%;
    left: 41.67%;
}

#u9431_img {
    padding-left: 44px;
    padding-right: 44px;
    width: 87.56%;
}

#u9433 {
    z-index: 62;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 302px;
    width: 1.53%;
    left: 13.62%;
}

#u9433_img {
    padding-left: 9px;
    padding-right: 9px;
    width: 18.19%;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 899px);
}

.html {
    background-color: #000000;
}

body {
    position: relative;
    min-width: 720px;
}
